* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 3vh;
    width: 60vw;
    height: 70vh;
    margin: 8vh auto;
    text-align: justify;
}