* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    text-align: center;
    background-color: black;
    color: rgba(7, 244, 7, 0.903);
    background-image: url(../../extra-archives/stars-g.jpg);
}

h1 {
    animation: neon 1.5s ease-in-out infinite alternate;
    color: rgb(40, 56, 40);
}

h2 {
    color: transparent;
	animation: blur 15s infinite;
    text-transform: uppercase;
    text-decoration: underline;
}

h1, h2{
    margin: 1.5vh;
    font-size: 2em;
}

h3 {
    margin: 10px 0px;
    background-image: linear-gradient(90deg, green, rgba(0, 0, 0, 0.059));
    padding-left: 20px;
    border-radius: 6px;
    color: white;
    width: 50%;
}

button {
    width: 40%;
    max-width: 200px;
    height: 6vh;
    margin: auto;
    font-size: large;
    background-color: green;
    color: white;
    border-radius: 5px;
}


main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 3vh;
    width: 60vw;
    margin: 8vh auto;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.636);
    padding: 2vh;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 6px rgba(0, 128, 0, 0.484);
    min-height: 500px;
}

#characters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 3vh;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(29, 93, 24, 0.77);
    color: white;
}

a {
    text-decoration: none;
    color: rgb(219, 8, 22);
}

@keyframes neon {
    from {
        text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(182, 255, 0),
        0 0 70px rgb(182, 255, 0), 0 0 80px rgb(182, 255, 0), 0 0 100px rgb(182, 255, 0), 0 0 150px rgb(182, 255, 0);
    }
    to {
        text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px rgb(182, 255, 0),
        0 0 35px rgb(182, 255, 0), 0 0 40px rgb(182, 255, 0), 0 0 50px rgb(182, 255, 0), 0 0 75px rgb(182, 255, 0);
    }
}

@keyframes blur {
	0%		{text-shadow:  0 0 100px rgba(7, 244, 7, 0.903); opacity:0;}
	5%		{text-shadow:  0 0 90px rgba(7, 244, 7, 0.903);}
	15%		{opacity: 1;}
	20%		{text-shadow:  0 0 0px rgba(7, 244, 7, 0.903);}
	80%		{text-shadow:  0 0 0px rgba(7, 244, 7, 0.903);}
	85%		{opacity: 1;}
	95%		{text-shadow:  0 0 90px rgba(7, 244, 7, 0.903);}
	100%	{text-shadow:  0 0 100px rgba(7, 244, 7, 0.903); opacity:0;}
}